html {
    background-image: url("lila.jpg");
}

.cajaUno {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 650px;
    border-radius: 5px;
    background-image: url("lila.jpg"); 
}

.cajaDos {
    margin: 70px auto;
    border-radius: 5px;
    width: 400px;
    height: 500px;
}